<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Sistema ACDV</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="centralize">Associação de Cegos e Deficientes Visuais</h1>
        </div>
        <!--<div class="greet">
            <h2>Seja bem-vindo!</h2>
            <p>Onde deseja acessar?</p>
        </div>-->
        <div class="nav-status">
            <a href="home_page.html">Início</a>
        </div>
        <div class="options">
            <div id="agenda">
                <a href="agenda/visualizar_agenda.html" class="link">Agenda</a>
            </div>

            <div id="participantes">
                <a href="" class="link">Participantes</a>
            </div>

            <div id="oficinas">
                <a href="" class="link">Oficinas</a>
            </div>
        </div>
        <div class="agenda">
            <table>
                <tr>
                    <th>
                        1
                    </th>
                    <th>
                        2
                    </th>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>