<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar oficina</title>
</head>
<body>
    <form method="post" action="../../controller/oficina/oficina_control.php">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao"></textarea>

        <button type="submit" name="opcao" value="cadastrar">Cadastrar</button>
    </form>
</body>
</html>